@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
/* imported font for clock */

* {
  padding: 0%;
  margin: 0%;
}

/* Adding body background color - @Asad */
body {
  /* background-color: rgb(7, 121, 197); */
  background-image: url("./bgimage2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  flex-wrap: wrap;
}

#clock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #1ce2e2;
  font-size: 60px;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 7px;
}

h1 {
  padding: 30px 35px;

  text-align: center;
  border-radius: 10px 10px 0 0;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.container {
  width: 480px;
  height: 450px;

  font-family: sans-serif;
  /* 
  background-color: rgba(105, 3, 117, 0.5); */
  background-color: rgba(78, 75, 92, 0.5);
  border-radius: 20px;
  /* background-image: linear-gradient(
    60deg,
    #09725f,
    #25e4de,
    #70b77e,
    #e0a890,
    #f27dc3
  ); Adding a gradient variable to be used later */

  padding: 10px;
}

/* adding css to labels - @Asad*/
label {
  display: inline-block;
  margin-top: 20px;
  font-size: 20px;
  color: #ffffff;
}

.text-inputs {
  width: 98%;
  height: 40px;

  margin-bottom: 25px;
  margin-top: 5px;
  border: 2px solid #ccc;
  color: #4f4f4f;
  font-size: 20px;
  border-radius: 5px;
  display: block;
}

#submit {
  background-color: teal;
  color: white;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  border-style: none;
  box-shadow: 5px 5px 18px #242323;
  text-decoration: none;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  transform: translateY(50px);

  margin-top: -15px;

  position: relative;

  left: 35%;
}
#submit:hover {
  background-color: tomato;

  transform: translateY(-5px);
  transition: 500ms;
}
