
*{
    padding: 0%;
    margin: 0%;
}
h2{
    background-color: #FEFFED;
    padding: 30px 35px;
    margin: -10px -50px;
    text-align:center;
    border-radius: 10px 10px 0 0;
    }
    hr{
        margin: 10px -50px;
        border: 0;
        border-top: 1px solid black;
        margin-bottom: 40px;
        }
    .container{
            width: 900px;
            height: 610px;
            margin:30px auto;
            font-family: sans-serif;
            }
            main{
                width: 300px;
                padding: 10px 50px 25px;
                border: 2px solid gray;
                border-radius: 10px;
                font-family: raleway;
                float:left;
                margin-top:50px;
                }

                #username, #password{
                    width: 100%;
                    height: 40px;
                    padding: 5px;
                    margin-bottom: 25px;
                    margin-top: 5px;
                    border: 2px solid #ccc;
                    color: #4f4f4f;
                    font-size: 16px;
                    border-radius: 5px;
                    }

                    #submit {
                        font-size: 16px;
                        background: purple;
                        border: 1px solid grey;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                        width: 100%;
                        border-radius: 5px;
                        padding: 10px 0;
                        outline:none;
                        }
                        #submit:hover {
                            background-color: white;
                            color: purple;
                            border: 2px white;
                        }