@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
body {
  background-image: url("/Img/imgbg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincon {
  background-color: rgba(78, 75, 92, 0.6);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  width: 400px;
}

h1 {
  font-weight: 600;
  color: white;
}

h2 {
  font-weight: 400;
  color: white;
}

.inputdivs,
.signb {
  margin: 1em;
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  color: rgb(228, 228, 228);
  font-family: Arial, Helvetica, sans-serif;
}
p a {
  /* color: rgb(13, 13, 185); */
  color: #0a036d;
  font-weight: 600;
}

/*Adding styling to input fields using ids */
#user_name,
#email,
#password,
#confirm_password {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid #dddddd;
  outline: none;
  background: #eeeeeeee;
}

/* Adding a focus part which happens when you click on the input field */
#user_name:focus,
#email:focus,
#password:focus,
#confirm_password:focus {
  background: white;
}

/* Adding Styling to Sign Up input field */
#submitbtn {
  cursor: pointer;
  border-radius: 4px;
  width: 50%;
  background-color: teal;
  padding: 1rem 2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  outline: none;
}

/* Adding a hover part which happens when you hover on the input field */
#submitbtn:hover {
  background-color: tomato;
  transform: translateY(2px);
  transition: 500ms;
}

/* clock formatting */
.clock-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 80px;
  color: #1ce2e2;
  font-size: 60px;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 7px;
}
@media only screen and (max-width: 1000px) {
  .clock-main {
    font-size: 40px;
  }
}
