body {
  /*Adding a gradient variable to be used later*/
  --gradient: linear-gradient(
    60deg,
    #953773,
    #8374ab,
    #8984c7,
    #a4b7dc,
    #be96cd
  );

  /*Adding a gradient variable to be used later*/
  --gradient1: linear-gradient(
    60deg,
    #09725f,
    #25e4de,
    #70b77e,
    #e0a890,
    #f27dc3
  );

  /*Adding a color file to be used later*/
  --color-error: #cc3333;

  /* Setting up the basic html body */
  margin: 0;
  height: 100vh;
  font-family: "Dancing Script", cursive;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

.inputdivs,
.signb {
  margin: 1em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*Adding styling to input fields using ids */
#user_name,
#email,
#password,
#confirm_password {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid #dddddd;
  outline: none;
  background: #eeeeeeee;
  transition: background 0.2s, border-color 0.2s;
}

/* Adding a focus part which happens when you click on the input field */
#user_name:focus,
#email:focus,
#password:focus,
#confirm_password:focus {
  background: white;
  border-color: var(--color-error);
}

/* Adding Styling to Sign Up input field */
#submitbtn {
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  border: none;
  outline: none;
}

/* Adding a hover part which happens when you hover on the input field */
#submitbtn:hover {
  background: var(--color-error);
}
/* Adding a active part which happens when you click on the sign up button*/
#submitbtn:active {
  transform: scale(0.95);
}

/* For Screens less than and equal to 425px */
@media (max-width: 425px) {
  body {
    /* Calling the gradient file defined above in body */
    background-image: var(--gradient);
    background-repeat: no-repeat;
    background-size: 410%;
    animation: bg-animation 5s infinite;
  }

  @keyframes bg-animation {
    0% {
      background-position: right;
    }
    100% {
      background-position: left;
    }
  }

  .maincon {
    /* Calling the gradient1 file defined above in body */
    background-image: var(--gradient1);
    background-repeat: no-repeat;
    border: 2px solid;
    border-color: var(--color-error);
    border-radius: 35px;
    text-align: center;
    width: 360px;
    max-width: 360px;
    background-size: 300%;
    background-position: left;
    transition: background-position 1.2s;
  }

  .maincon:hover,
  .maincon:focus {
    background-position: right;
  }
}

/* For Screens greater than 425px and less than and equal to 2560px */
@media (min-device-width: 426px) and (max-width: 2560px) {
  body {
    /* Calling the gradient1 file defined above in body */
    background-image: var(--gradient1);
    background-repeat: no-repeat;
    background-size: 410%;
    animation: bg-animation 5s infinite;
  }

  @keyframes bg-animation {
    0% {
      background-position: right;
    }
    100% {
      background-position: left;
    }
  }

  .maincon {
    /* Calling the gradient file defined above  in body */
    background-image: var(--gradient);
    background-repeat: no-repeat;
    border: 2px solid;
    border-color: var(--color-error);
    border-radius: 35px;
    text-align: center;
    width: 360px;
    max-width: 360px;
    background-size: 300%;
    background-position: left;
    transition: background-position 1.2s;
  }

  .maincon:hover,
  .maincon:focus {
    background-position: right;
  }
}
