/* Adding body background color - @Asad */
body {
  background-image: url("/Img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  width: 400px;
  margin-top: 150px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgba(78, 75, 92, 0.5);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  border: 1px solid teal;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

.main {
  margin: 1em;
}

a {
  text-decoration: none;
  color: teal;
}

a:hover {
  text-decoration: underline;
  color: tomato;
}

p {
  color: white;
}

#email,
#password {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid teal;
  outline: none;
  background: #eeeeeeee;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Adding a focus part which happens when you click on the input field */
#email:focus,
#password:focus {
  background: white;
  border: 2px solid tomato;
}

/* Adding Styling to Sign Up Input field */
#submit {
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  background-color: teal;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.015rem;
  color: white;
  border: none;
  outline: none;
}

/* Adding a hover part which happens when you hover on Sign Up */
#submit:hover {
  background-color: tomato;
  transform: translateY(2px);
  transition: 500ms;
}
/* Adding an active part which happens when you click on Sign Up */
#submit:active {
  transform: scale(0.97);
}

/* Clock Formatting */
.clock-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 75px;
  color: teal;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 7px;
}
@media only screen and (min-width: 375px) {
  .clock-main {
    font-size: 20px;
  }
}
@media only screen and (min-width: 645px) {
  .clock-main {
    font-size: 45px;
  }
}
@media only screen and (min-width: 1024px) {
  .clock-main {
    font-size: 70px;
  }
}

.clock-main:hover {
  color: tomato;
}
